body {
    background: rgb(4,65,127);
    background: linear-gradient(85deg, rgba(4,65,127,1) 24%, rgba(0,0,0,1) 100%);
    color: #fff;
    font-size: 1em;
}

.title-creator{text-align: center; font-size: 2em;}

.container-papus{
    display: flex;
    justify-content: center
}

h3 {font-size: 1.7em;}

.Kristopher, .NillLainux {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 6%;
}

.kris-img, .nill-img {
    width: 200px;
    height: 209px;
    border-radius: 50%;
}