.contact-us {
  margin-bottom: 0; }

.contact-grid {
  display: grid;
  grid-template: auto / 50% 50%; }

.contact-title-section {
  margin: 3em; }

.contact-column {
  display: inline-block;
  width: 20%;
  margin: 3em;
  font-family: sans; }

.minititle {
  font-size: 0.8em;
  color: grey; }
