@font-face {
  font-family: 'VT323';
  src: url("../fonts/VT323-Regular.ttf");
  font-smooth: never;
  -webkit-font-smoothing: none; }

body {
  font-family: 'VT323', 'Inter', serif;
  background: #048;
  background: linear-gradient(85deg, #048 24%, black 100%);
  color: white;
  margin: 0; }

footer {
  margin: 0;
  height: 5em; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.6em; }

.center-text {
  text-align: center; }
