$background-blue: #048;

html, body { height: 100% }
body {
    font-family: 'VT323', 'Inter', serif;
    background: $background-blue;
    background: linear-gradient(85deg, $background-blue 24%, black 100%);
    color: white;
    margin: 0;
}

h1 {font-size: 2.8em;}
h2 {font-size: 2em;}
h3 {font-size: 1.6em;}
