header.header-verse {
    font-family: "VT323", serif;
    background: var(--header-bg);
    background: linear-gradient(to bottom, #0007, #79555577), 
    url(../img/Nintendos.jpg) no-repeat center center;

    background-size: cover;
    height: 500px;

    font-weight: bolder;
    text-shadow: 3px -1px 5px #000;

    h2 {
	    margin: 0;
	    padding: 0;
    }

    nav {
        background-color: var(--nav-bg);
    }
}

.welcome-user {
    position: absolute;
    top: 219px;
    width: 100%;
}
