$game-row-fade: 0.1s ease all;

.game-row {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 13% 30% 20% 20% 20%;

    color: inherit;
    text-decoration: none;

    border-style: solid;
    border-size: 2px;
    border-color: #7770;
    transition: $game-row-fade;

    padding: 1em;

    .game {
        display: inline-grid;
        text-align: center;

        img {
            @include centered-image;
        }

        span {
            display: block;
        }

        h2, h3, p, span {
            margin: 0;
        }
    }
}

.game-row:hover {
    border-color: #7777;
    transition: $game-row-fade;
}
