@use 'mixins';

#title-game > img{
    width: 7em;
}

#game-content {
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template: auto / 40% 60%;
    max-width: 60em;

    #game-stats {
        text-align: center;
        margin: 0 2em;
    }

    #game-picture {
        display: grid;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        transition: .5s ease all;
        margin: 0 auto;
    }

    #game-description {
        padding-left: 2em;
        padding-right: 2em;
    }

    p{
        font-size: 1.4em;
    }
}
